#!/usr/bin/env python
# -*- coding:utf-8 -*-

''' photoblog configuration '''

# Your name and mail address. Will be used in subscription mails
# and newsfeeds. Make sure to use an authorized sender address here, i.e.
# the administrators" gmail address
mail_from_name = "Enter your name here!"
mail_from_address = "Here goes your Gmail Address or any other "
mail_newsletter_subject = "New Photos - %s" % title
mail_confirmation_subject = "Please validate your email address"

# will be used in emails and throughout your photoblog
title = "Photoblog // %s" % mail_from_name
# use this host in emails for confirmation link etc
host = "http://fotos.example.com"

# Picasa credentials
picasaweb_username = "replacemewithyourgmailaddress@gmail.com.invalid"
picasaweb_password = "heregoesyourpasswordforgmail"
# Picasa album id. You can use the included get_picasa_id.py to find it
picasaweb_album_id = "Enter a long number here!"

# Set to True if you want debug info on excaptions. 
# Don't do it on production systems
debug = False
