{% extends "base.html" %}
{% block title %}Impressum{% endblock %}
{% block content %}
<h1>Impressum</h1>
<p>Auf dieser Homepage veröffentliche ich eine kleine Auswahl
meiner digitalen Fotos. Das Webangebot ist nicht kommerziell und
ausschließlich privater Natur.</p> <p>Sämtliche hier veröffentlichten
Bilder sind, sofern nicht unterschiedlich gekennzeichnet, meine eigenen,
von mir erstellt, bearbeitet und veröffentlicht. Dadurch ergeben sich
selbstverständlich alle üblichen Gegebenheiten des Urheberrechts.</p>
<p>Sollte jedoch eines der Bilder auf besonderes Interesse stoßen, etwa für
    Veröffentlichung oder Druck, bitte ich um <a href="mailto:photoblog@florianheinle.de">Kontaktaufnahme per E-Mail</a>.</p>
<p>Für die veröffentlichten Inhalte bin allein ich selbst verantwortlich. Für
externe Links liegt selbstverständlich nahe, dass sich trotz sorgfältiger
Prüfung die dortigen Inhalte meiner Verantwortung entziehen.</p>
<p>Zur Kontaktaufnahme empfehle ich <a href="mailto:photoblog@florianheinle.de">den Weg per E-Mail</a>. Postalische Anschrift oder Ähnliches lässt sich ohne
unzumutbaren Aufwand beim zuständigen Registrar meiner Domain abfragen.</p>
{% endblock %}
