<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="de">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Homepage{% endblock %} &mdash;
        {{ conf.title }}</title>
    <link rel="stylesheet" type="text/css"
        href="/media/style.css">
    <link rel="alternate" type="application/atom+xml" 
          title="Feed (Atom)" href="/feed">
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
                $("#showexif").click(function () {
                    $("#exif").slideToggle(600);
                    });
                });
    </script>   
</head>
<body>
    <div id="head">
        <h1>{{ conf.title }}</h1>
    </div>
    <div id="nav">
        <h1>Navigation</h1>
        <ul>
            <li><a href="/">neuestes Bild</a></li>
            <li><a href="/mosaic">Übersicht</a></li>
            <li><a href="/zufall">Zufälliges Bild</a></li>
            <li><a href="/abo/subscribe">Abonnieren</a></li>
            <li><a href="/info">Impressum</a></li>
        </ul>
        {% block additional %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% if conf.google_analytics %}
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("{{ conf.google_analytics }}");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    {% endif %}
</body>
</html>
