{% extends "base.html" %}
{% block title %}Übersicht{% endblock %}
{% block content %}
{% regroup pics by uploaded|date:"Y" as grouped %}
<ul>
{% for group in grouped %}
    <li><span style="font-weight:bold">{{ group.grouper }}</span>
        <div id="container">
            {% for pic in group.list reversed %}
            <div id="pic_list"> 
                    <a href="/photo/{{ pic.gphoto_id }}">
                        <img src="{{ pic.thumbnail }}" alt="thumbnail"
                         width=64 height=64>
                    </a>
            </div>
            {% endfor %}
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}
